{% extends 'base.html' %}

<!-- heading -->
{% block title %}Apply{% endblock %}

{% block body %}

<h1>Apply to Ubermelon</h1>

<div id="instructions"><p>We'd love for you to join us at Ubermelon!  We'll connect with you within a week of your form submission.</p></div>

<!-- form -->
<form action="/thanks">
    <table>
        <tr>
            <td><label for "fname">First name:</label></td>
            <td><input id="fname" type="text" name="firstname" required></td>
        </tr>
        <tr>
            <td><label for "lname">Last name:</label></td>
            <td><input id="lname" type="text" name="lastname" required></td>
        </tr>
        <tr>
            <td><label for "salary">Salary requirement:</label></td>
            <td><input id="salary" type="number" name="salaryreq" required></td>
        </tr>
        <tr>
            <td><label for "job">Application for:</label></td>
            <td>
                <select id="job" name="choosejob" required>
                    <option disabled selected value>--select an option--</option>
                    <option value="Software Engineer">Software Engineer</option>
                    <option value="QA Engineer">QA Engineer</option>
                    <option value="Product Manager">Product Manager</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="submit">
            </td>
        </tr>
    </table>
</form>

{% endblock %}